<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
       <div class="main-content">
            {{>header}}
            <p>This site was created by Raghav Agarwal. It uses  data from mapbox.copm and weatherStack.com .</p>
            <img class="portrait" style="margin-left: 10rem;"  src="/img/AG6A0890.jpg">
       </div>

       {{>footer}}
    </body>
</html>